@model EquipmentViewModel;

@{
    var action = Model.Action;
}

<a class="btn btn-outline-secondary mt-3" asp-action="index" asp-controller="equipment">
    <i class="fa-solid fa-arrow-left"></i> Back
</a>

<div class="container py-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>@(Model.Action == Web.Enums.ActionType.Create ? "Add New Equipment" : "Edit Equipment")</h3>
    </div>
    
    <form asp-action="@action" method="post" onsubmit="onSubmit()">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" id="coverid" asp-for="EquipmentCover" />
        <input type="hidden" id="action" asp-for="Action" />
        <input type="hidden" id="entitytype" asp-for="EquipmentType" />

        <div class="card shadow-sm border-1 p-3">
            <div class="row align-items-stretch">
                <div class="col-auto d-flex">
                    <div id="mydropzone" class="dropzone"></div>
                </div>
                <div class="col d-flex flex-column">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="equipmentType" class="form-label">Type</label>
                                <select id="equipmentType" class="form-select"
                                        asp-for="EquipmentType"
                                        asp-items="Model.Equipments"
                                        onchange="onChange(this)">
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="model_input" class="form-label">Model</label>
                                <input id="model_input" class="form-control"
                                       asp-for="ModelName"
                                       autocomplete="on"
                                       placeholder="Model" />
                            </div>

                            <div class="col-md-12">
                                <label for="manufacturer_input" class="form-label">Manufacturer</label>
                                <input id="manufacturer_input" class="form-control"
                                       asp-for="Manufacturer"
                                       placeholder="Manufacturer" />
                            </div>

                            <div class="col-md-12">
                                <label for="description" class="form-label">Description</label>
                                <textarea id="description" class="form-control"
                                          asp-for="Description"
                                          rows="6"
                                          placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-3 d-flex justify-content-end">
            <button id="submit_button" type="submit" class="btn btn-primary">
                <i class="fa-sharp fa-solid fa-check"></i> Save
            </button>
        </div>
    </form>
</div>
<script>
    const selectors = {
                dropzone: "#mydropzone",
                coverId: "#coverid",
                entityType: "#entitytype",
                formSelect: ".form-select"
            };

            $(document).ready(() => {
                initForm();
            });

            connection.onclose(async () => {
                await start();
            });

            function initForm() {
                const action = "@action";
                if (action === "Update") {
                    $(selectors.formSelect).prop("disabled", true);
                }
            }

            function onSubmit() {
                const action = "@action".toLowerCase();
                sessionStorage.setItem(`equipment_${action}`, "1");
            }

            function onChange(e) {
                $(selectors.entityType).val(e.value);
            }

            Dropzone.autoDiscover = false;
            let myDropzone = new Dropzone("div#mydropzone",
            {
                url: "/uploadimage",
                addRemoveLinks: true,
                thumbnailWidth: 300,
                thumbnailHeight: 300,
                resizeWidth: 300,
                resizeHeight: 300,
                dictDefaultMessage: "<b>Upload equipment image</b><br><i>Images > 300x300 pixels will be resized</i>",
                acceptedFiles: ".jpeg,.png,.jpg",
                    success: (file, data) => {
                        $("#coverid").val(data.filename);
                        let preview = $(file.previewElement);
                        preview.addClass("dz-success text-success");
                    },
                    init: function() {
                        const coverId = $("#coverid").val();
                        if (coverId !== "" && !coverId.includes("nocover")) {
                            let myDropzone = this;
                            let coverUrl = window.location.href.includes("edit") ? coverId : `/temp/${coverId}`;
                            myDropzone.displayExistingFile({}, coverUrl);
                        }
                    },
                    removedfile: function(file) {
                        $("#coverid").val("");
                        if (file.previewElement != null && file.previewElement.parentNode != null) {
                            file.previewElement.parentNode.removeChild(file.previewElement);
                        }
                        return this._updateMaxFilesReachedClass();
                    }
            });
</script>