@model AlbumCreateUpdateViewModel;

<a class="btn btn-outline-secondary mt-3" asp-action="Index" asp-controller="Album">
    <i class="fa-solid fa-arrow-left"></i> Back
</a>
<div class="container py-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>@(Model.Action == Web.Enums.ActionType.Create ? "Add New Album" : "Edit Album")</h3>
        
    </div>
    <form asp-action="@Model.Action" method="post" onsubmit="onSubmit()">
        <input type="hidden" id="coverid" asp-for="AlbumCover" />
        <input type="hidden" id="albumid" asp-for="AlbumId" />
        <input type="hidden" id="action" asp-for="Action" />
        <div class="card shadow-sm border-1 p-3">
            <div class="row align-items-stretch">
                <div class="col-auto d-flex">
                    <div id="mydropzone" class="dropzone"></div>
                </div>
                <div class="col d-flex flex-column">
                    <ul class="nav nav-tabs" id="albumTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab">
                                General
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="digitization-tab" data-bs-toggle="tab" data-bs-target="#digitization" type="button" role="tab">
                                Digitization
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="hardware-tab" data-bs-toggle="tab" data-bs-target="#hardware" type="button" role="tab">
                                Hardware
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content border border-top-0 rounded-bottom p-3 bg-light" id="albumTabsContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <input id="artist_input" class="form-control" asp-for="Artist" placeholder="Artist" />
                                </div>
                                <div class="col-md-12">
                                    <input id="album" class="form-control" asp-for="Title" placeholder="Album" />
                                </div>
                                <div class="col-md-12">
                                    <input id="genre_input" class="form-control" asp-for="Genre" placeholder="Genre" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="digitization" role="tabpanel">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <input id="vinylstate_input" class="form-control" asp-for="VinylState" placeholder="Vinyl state" />
                                </div>
                                <div class="col-md-4">
                                    <input id="digitalformat_input" class="form-control" asp-for="DigitalFormat" placeholder="Digital format" onchange="checkValidData()" />
                                </div>
                                <div class="col-md-4">
                                    <input id="bitness_input" class="form-control" asp-for="Bitness" placeholder="Bitness" onchange="checkValidData()" />
                                </div>
                                <div class="col-md-4">
                                    <input id="sampling_input" class="form-control" asp-for="Sampling" placeholder="Sampling" onchange="checkValidData()" />
                                </div>
                                <div class="col-md-4">
                                    <input id="sourceformat_input" class="form-control" asp-for="SourceFormat" placeholder="Source format" />
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" asp-for="Storage" placeholder="Storage" />
                                </div>
                                <div class="col-md-4">
                                    <input id="year_input" class="form-control" asp-for="Year" placeholder="Year" />
                                </div>
                                <div class="col-md-4">
                                    <input id="reissue_input" class="form-control" asp-for="Reissue" placeholder="Reissue" />
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" asp-for="Country" placeholder="Country" />
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" asp-for="Label" placeholder="Label" />
                                </div>
                                <div class="col-md-8">
                                    <input id="source" class="form-control" asp-for="Source" placeholder="Source" onchange="checkAlbumIsExists()" />
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" asp-for="Discogs" placeholder="Discogs link" />
                                </div>
                                <div class="col-md-4">
                                    <input id="sizeinput" class="form-control" asp-for="Size" placeholder="Size (GB)" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="hardware" role="tabpanel">
                            <div class="row g-3">
                                <div class="col-md-6"><input id="player_input" class="form-control" asp-for="Player" placeholder="Player" /></div>
                                <div class="col-md-6"><input id="player_manufacturer_input" class="form-control" asp-for="PlayerManufacturer" placeholder="Manufacturer" /></div>
                                <div class="col-md-6"><input id="cartridge_input" class="form-control" asp-for="Cartridge" placeholder="Cartridge" /></div>
                                <div class="col-md-6"><input id="cartridge_manufacturer_input" class="form-control" asp-for="CartridgeManufacturer" placeholder="Manufacturer" /></div>
                                <div class="col-md-6"><input id="amp_input" class="form-control" asp-for="Amplifier" placeholder="Amplifier" /></div>
                                <div class="col-md-6"><input id="amp_manufacturer_input" class="form-control" asp-for="AmplifierManufacturer" placeholder="Manufacturer" /></div>
                                <div class="col-md-6"><input id="adc_input" class="form-control" asp-for="Adc" placeholder="ADC" /></div>
                                <div class="col-md-6"><input id="adc_manufacturer_input" class="form-control" asp-for="AdcManufacturer" placeholder="Manufacturer" /></div>
                                <div class="col-md-6"><input id="wire_input" class="form-control" asp-for="Wire" placeholder="Wire" /></div>
                                <div class="col-md-6"><input id="wire_manufacturer_input" class="form-control" asp-for="WireManufacturer" placeholder="Manufacturer" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
                <div id="digitization_warning"
                     class="alert alert-danger alert-dismissible fade m-0 py-1 px-3 d-flex align-items-center justify-content-center flex-grow-1"
                     role="alert"
                     style="white-space: nowrap; min-height: 38px;">
                    <i id="alert-icon" class="me-2"></i>&nbsp
                    <span></span>
                </div>
                <button id="submit_button" class="btn btn-warning px-4">
                    <i class="fa-solid fa-plus"></i> Add digitization
                </button>
                <button id="submit_button" type="submit" class="btn btn-success px-4">
                    <i class="fa-solid fa-check"></i> Save
                </button>
            </div>
        </div>
    </form>
    <br />
    <div class="card shadow-sm border-1 p-3">

    </div>
</div>
<script>
    const alertMessages = {
        0: { type: "success", text: "No duplicates found. The album will be added." },
        50: { type: "warning", text: (ids) => `Album(s) [${prepareAlbumLinks(ids)}] already exist with the same source. Please check to make sure this is not a duplicate.` },
        100: { type: "danger", text: (ids) => `These album(s) [${prepareAlbumLinks(ids)}] already exist with this source. Please double-check to avoid duplicates.` }
    };

    const levels = {
        "alert-success": { icon: "fa-solid fa-circle-check" },
        "alert-warning": { icon: "fa-solid fa-circle-exclamation" },
        "alert-danger":  { icon: "fa-solid fa-triangle-exclamation" }
    };

    const actions = {
        "Create": "albumcreated",
        "Update": "albumupdated"
    };

    const dsdFormats = {
            dsd64:  "2.8",
            dsd128: "5.6",
            dsd256: "11.2",
            dsd512: "22.5"
    };

    $(document).ready(async () => {
        await start();
    });

    connection.onclose(async () => {
        await start();
    });

    $(() => {
        const getEntityName = (id) => id.replace("_input", "");
        $("input[id$='_input']").each(function () {
            const $input = $(this);
            const entity = getEntityName(this.id);

            $input.autocomplete({
                source: (request, response) => {
                    $.getJSON(`/search/${entity}`, { value: request.term }, response);
                },
                delay: 300,
                minLength: 2,
                messages: {
                    noResults: '',
                    results: () => {}
                },
                select: function (event, ui) {
                    getManufacturer(entity, ui.item.value);
                }
            });
        });
    });

    async function getManufacturer(category, value) {
        try {
            await connection.invoke("GetManufacturer", connection.connectionId, category, value);
        } catch (err) {
            console.log("Error sending request to GetManufacturer");
        }
    }

    function showAlert(alertId, alertLevel, message) {
        const $alert = $(`#${alertId}`);
        const $icon = $alert.find("i");
        const $body = $alert.find("span");

        $alert.removeClass((_, cls) => (cls.match(/alert-\S+/g) || []).join(" "));
        $icon.removeClass();

        if (levels[alertLevel]) {
            $icon.addClass(levels[alertLevel].icon);
        }

        $body.empty().append(message);
        $alert.addClass(`${alertLevel} show`).alert();
    }

    function onSubmit() {
        const $input = $("#sizeinput");
        const action = "@Model.Action";
        let value = $input.val();

        $input.val(value.replace(/\./g, ","));

        if (actions[action]) {
            sessionStorage.setItem(actions[action], "1");
        }
    }

    function checkValidData() {
        const codec = $("#digitalformat_input").val().toLowerCase();
        const bitness = $("#bitness_input").val();
        let sampling = $("#sampling_input").val().replace(",", ".");

        if (!codec || !bitness || !sampling)
            return;

        if (dsdFormats[codec]) {
            if (bitness !== "1") {
                showAlert("digitization_warning", "alert-warning", "DSD is 1 bit/s format");
            } else if (sampling !== dsdFormats[codec]) {
                showAlert("digitization_warning", "alert-warning", `${codec.toUpperCase()} sampling is ${dsdFormats[codec]} (MHz)`);
            } else {
                $("#digitization_warning").removeClass("show");
            }
        }
    }

    function checkAlbumIsExists() {
        let artist = $("#artist_input").val();
        let album = $("#album").val();

        if (artist !== '' && album !== '') {
            let source = $("#source").val();
            checkAlbum(@Model.AlbumId, album, artist, source);
        }
    }

    async function checkAlbum(albumId, artist, album, source) {
        try {
            await connection.invoke("CheckAlbum", connection.connectionId, albumId, artist, album, source);
        } catch (err) {
            console.log("Error sending request to GetManufacturer");
        }
    }

    function prepareAlbumLinks(albumIds) {
        let markup = '';
        if (albumIds.length > 0) {
            albumIds.forEach(id => markup += `&nbsp<a href="/album/${id}" target="_blank">${id}</a>&nbsp`)
        }
        return markup;
    }

    connection.on("ReceivedManufacturer", (category, result) => {
         $(`input[id$='${category}_manufacturer_input']`).val(result);
    });

    connection.on("AlbumIsExist", (factor, albumIds) => {
        const message = alertMessages[factor];
        if (!message)
            return;
        const text = typeof message.text === "function" ? message.text(albumIds) : message.text;
        showAlert("album-alert", `alert-${message.type}`, text);
    });

    Dropzone.autoDiscover = false;
    let myDropzone = new Dropzone("div#mydropzone",
    {
        url: "/uploadimage",
        addRemoveLinks: true,
        thumbnailWidth: 300,
        thumbnailHeight: 300,
        resizeWidth: 300,
        resizeHeight: 300,
        dictDefaultMessage: "<b>Upload album cover</b><br><i>Images > 300x300 pixels will be resized</i>",
        acceptedFiles: ".jpeg,.png,.jpg",
            success: (file, data) => {
                $("#coverid").val(data.filename);
                let preview = $(file.previewElement);
                preview.addClass("dz-success text-success");
            },
            init: function() {
                const coverId = $("#coverid").val();
                if (coverId !== "" && !coverId.includes("nocover")) {
                    let myDropzone = this;
                    let coverUrl = window.location.href.includes("edit") ? coverId : `/temp/${coverId}`;
                    myDropzone.displayExistingFile({}, coverUrl);
                }
            },
            removedfile: function(file) {
                $("#coverid").val("");
                if (file.previewElement != null && file.previewElement.parentNode != null) {
                    file.previewElement.parentNode.removeChild(file.previewElement);
                }
                return this._updateMaxFilesReachedClass();
            }
    });
</script>