@model AlbumViewModel
<script>
    // get album covers after rendering album list
    $(document).ready(async () => {
        await start();
        await getAlbumCovers();
    })
</script>
<div class="wrapper">
    @foreach (var album in Model.Albums)
    {
        <div>
            <a href="album/@album.Id">
                <img id="@album.Id" src="resources/nocover.png" class="spinner-border text-white" onload="onAlbumLoad(@album.Id)" />
            </a>
            <div class="album-base-info">
                <div>@album.Artist.Data</div>
                <div>@album.Data</div>
            </div>
        </div>
    }
</div>