@model AlbumViewModel

<div class="wrapper">
    @foreach (var album in Model.Albums)
    {
        <div>
            <img src="resources/nocover.png" class="spinner-border text-white" />
            <div class="album-base-info">
                <div>@album.Artist.Data</div>
                <div>@album.Data</div>
            </div>
        </div>
    }
</div>