<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="animate-charcter">Under development</h1>
        </div>
    </div>
</div>
Information about lates news, new albums that added to collection, new features, etc.
