<body data-page="post-list">
    <div class="blog-container">
        <div class="blog-post position-relative">
            <div id="spinner" class="post-spinner-overlay d-none">
                <div class="spinner-border" role="status"></div>
            </div>
            <div id="post-container" class="blog-post"></div>
        </div>
        <div class="blog-side-panel">
            <div class="blog-side-panel-filters">
                <input id="searchfilter" class="form-control" type="search" placeholder="Search in blogs">
                <label class="mt-2">Filter blogs:</label>
                <div class="d-flex gap-2">
                    <select id="categoryfilter" class="custom-select flex-fill">
                        <option selected value="">Category</option>
                        <option value="Developing">Developing</option>
                        <option value="Releases">Releases</option>
                        <option value="Other">Other</option>
                    </select>
                    <input id="yearfilter" class="form-control" placeholder="Year">
                </div>
                <label>
                    <input id="draftfilter" type="checkbox"> Only drafts
                </label>
                <hr />
                <div class="blog-tree-view">
                    <label class="mt-2 mb-2"><strong>Blog Archive</strong></label>
                    <div id="blog-tree" class="blog-tree"></div>
                </div>
            </div>
        </div>
        <div>
            <nav>
                <ul id="pagination" class="pagination justify-content-center"></ul>
            </nav>
        </div>
    </div>
    @section Scripts {
        <script src="~/js/post.js"></script>
    }
</body>
