<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Digitized Music Archive</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>