<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Digitized Music Archive</title>
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/lib/jquery/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
            //$(".html").html('<div class="new" id="' + id + '">jitender</div>");
            $("#menu a[href^='" + window.location.pathname + "']").css("font-weight", "bold");
            })
        </script>
    </head>
    <body>
    <div class="container">
        <h4 class="text-center">Welcome to Digitized  Music Archive!</h4>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" id="menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Last news</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/album">Albums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/equipment">Equipment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistic">Statistic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About project</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    <script>
        $('#menu a').on('mouseover', function (e) {
            //e.preventDefault();
            $(this).css("font-weight", "bold");
        })
        $('#menu a').on('mouseleave', function (e) {
            $(this).css("font-weight", "normal");
        })
    </script>
    </body>
</html>